@model DuLichBui.Areas.Admin.Models.LoginModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="colorlib-main">

    <section class="ftco-section ftco-no-pt ftco-no-pb">
        <div class="container">
            <div class="row d-flex">
                <div class="col-xl-8 py-5 px-md-5">
                    <div class="row pt-md-4">
                        <div class="col-md-12">
                            <div class="blog-entry ftco-animate d-md-flex">
                                <a href="single.html" class="img img-2" style="background-image: url(/Assets/client/images/image_1.jpg);"></a>
                                <div class="text text-2 pl-md-4">
                                    <h3 class="mb-2"><a href="single.html">Du lịch Đà Nẵng không gì là không thể</a></h3>
                                    <div class="meta-wrap">
                                        <p class="meta">
                                            <span><i class="icon-calendar mr-2"></i>Tháng 6 28, 2019</span>
                                            <span><a href="single.html"><i class="icon-folder-o mr-2"></i>Du Lịch</a></span>
                                            <span><i class="icon-comment2 mr-2"></i>5 Bình luận</span>
                                        </p>
                                    </div>
                                    <p class="mb-4">Tham gia khám phá những địa điểm du lịch, hành trình khám phá thiên nhiên phong phú trên mọi miền đất nước và cảm nhận sâu sắc về đời sống- văn hóa bản địa.</p>
                                    <p><a href="#" class="btn-custom">Đọc thêm <span class="ion-ios-arrow-forward"></span></a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="blog-entry ftco-animate d-md-flex">
                                <a href="single.html" class="img img-2" style="background-image: url(/Assets/client/images/image_2.jpg);"></a>
                                <div class="text text-2 pl-md-4">
                                    <h3 class="mb-2"><a href="single.html">Hồ Chí Minh thành phố không bao giờ ngủ</a></h3>
                                    <div class="meta-wrap">
                                        <p class="meta">
                                            <span><i class="icon-calendar mr-2"></i>Tháng 6 28, 2019</span>
                                            <span><a href="single.html"><i class="icon-folder-o mr-2"></i>Du lịch</a></span>
                                            <span><i class="icon-comment2 mr-2"></i>5 Bình luận</span>
                                        </p>
                                    </div>
                                    <p class="mb-4">Tham gia khám phá những địa điểm du lịch, hành trình khám phá thiên nhiên phong phú trên mọi miền đất nước và cảm nhận sâu sắc về đời sống- văn hóa bản địa.</p>
                                    <p><a href="#" class="btn-custom">Đọc thêm <span class="ion-ios-arrow-forward"></span></a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="blog-entry ftco-animate d-md-flex">
                                <a href="single.html" class="img img-2" style="background-image: url(/Assets/client/images/image_3.jpg);"></a>
                                <div class="text text-2 pl-md-4">
                                    <h3 class="mb-2"><a href="single.html">Huế mộng, Huế mơ</a></h3>
                                    <div class="meta-wrap">
                                        <p class="meta">
                                            <span>Tháng 6 28, 2019</span>
                                            <span><a href="single.html">Thời trang</a></span>
                                            <span>5 Bình luận</span>
                                        </p>
                                    </div>
                                    <p class="mb-4">Tham gia khám phá những địa điểm du lịch, hành trình khám phá thiên nhiên phong phú trên mọi miền đất nước và cảm nhận sâu sắc về đời sống- văn hóa bản địa.</p>
                                    <p><a href="#" class="btn-custom">Đọc thêm <span class="ion-ios-arrow-forward"></span></a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="blog-entry ftco-animate d-md-flex">
                                <a href="single.html" class="img img-2" style="background-image: url(/Assets/client/images/image_4.jpg);"></a>
                                <div class="text text-2 pl-md-4">
                                    <h3 class="mb-2"><a href="single.html">Đà Lạt thành phố ngàn hoa</a></h3>
                                    <div class="meta-wrap">
                                        <p class="meta">
                                            <span>Tháng 6 28, 2019</span>
                                            <span><a href="single.html">Thiên nhiên</a></span>
                                            <span>5 Bình luận</span>
                                        </p>
                                    </div>
                                    <p class="mb-4">Tham gia khám phá những địa điểm du lịch, hành trình khám phá thiên nhiên phong phú trên mọi miền đất nước và cảm nhận sâu sắc về đời sống- văn hóa bản địa.</p>
                                    <p><a href="#" class="btn-custom">Đọc thêm <span class="ion-ios-arrow-forward"></span></a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="blog-entry ftco-animate d-md-flex">
                                <a href="single.html" class="img img-2" style="background-image: url(/Assets/client/images/image_5.jpg);"></a>
                                <div class="text text-2 pl-md-4">
                                    <h3 class="mb-2"><a href="single.html">Vịnh Hạ Long kỳ quan thiên nhiên thế giới</a></h3>
                                    <div class="meta-wrap">
                                        <p class="meta">
                                            <span>Tháng 6 28, 2019</span>
                                            <span><a href="single.html">Thiên nhiên</a></span>
                                            <span>5 Bình luận</span>
                                        </p>
                                    </div>
                                    <p class="mb-4">Tham gia khám phá những địa điểm du lịch, hành trình khám phá thiên nhiên phong phú trên mọi miền đất nước và cảm nhận sâu sắc về đời sống- văn hóa bản địa.</p>
                                    <p><a href="#" class="btn-custom">Đọc thêm <span class="ion-ios-arrow-forward"></span></a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="blog-entry ftco-animate d-md-flex">
                                <a href="single.html" class="img img-2" style="background-image: url(/Assets/client/images/image_6.jpg);"></a>
                                <div class="text text-2 pl-md-4">
                                    <h3 class="mb-2"><a href="single.html">Hà Giang cung đường đầy mạo hiểm</a></h3>
                                    <div class="meta-wrap">
                                        <p class="meta">
                                            <span>Tháng 6 28, 2019</span>
                                            <span><a href="single.html">Du lịch</a></span>
                                            <span>5 Bình luận</span>
                                        </p>
                                    </div>
                                    <p class="mb-4">Tham gia khám phá những địa điểm du lịch, hành trình khám phá thiên nhiên phong phú trên mọi miền đất nước và cảm nhận sâu sắc về đời sống- văn hóa bản địa.</p>
                                    <p><a href="#" class="btn-custom">Đọc thêm <span class="ion-ios-arrow-forward"></span></a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="blog-entry ftco-animate d-md-flex">
                                <a href="single.html" class="img img-2" style="background-image: url(/Assets/client/images/image_7.jpg);"></a>
                                <div class="text text-2 pl-md-4">
                                    <h3 class="mb-2"><a href="single.html">Hà Nội không vội được đâu</a></h3>
                                    <div class="meta-wrap">
                                        <p class="meta">
                                            <span>Tháng 6 28, 2019</span>
                                            <span><a href="single.html">Du lịch</a></span>
                                            <span>5 Bình luận</span>
                                        </p>
                                    </div>
                                    <p class="mb-4">Tham gia khám phá những địa điểm du lịch, hành trình khám phá thiên nhiên phong phú trên mọi miền đất nước và cảm nhận sâu sắc về đời sống- văn hóa bản địa.</p>
                                    <p><a href="#" class="btn-custom">Đọc thêm <span class="ion-ios-arrow-forward"></span></a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="blog-entry ftco-animate d-md-flex">
                                <a href="single.html" class="img img-2" style="background-image: url(/Assets/client/images/image_8.jpg);"></a>
                                <div class="text text-2 pl-md-4">
                                    <h3 class="mb-2"><a href="single.html">Miền Tây mùa nước nổi</a></h3>
                                    <div class="meta-wrap">
                                        <p class="meta">
                                            <span><i class="icon-calendar mr-2"></i>Tháng 7 28, 2019</span>
                                            <span><a href="single.html"><i class="icon-folder-o mr-2"></i>Du lịch</a></span>
                                            <span><i class="icon-comment2 mr-2"></i>5 Bình luận</span>
                                        </p>
                                    </div>
                                    <p class="mb-4">Tham gia khám phá những địa điểm du lịch, hành trình khám phá thiên nhiên phong phú trên mọi miền đất nước và cảm nhận sâu sắc về đời sống- văn hóa bản địa.</p>
                                    <p><a href="#" class="btn-custom">Đọc thêm <span class="ion-ios-arrow-forward"></span></a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="blog-entry ftco-animate d-md-flex">
                                <a href="single.html" class="img img-2" style="background-image: url(/Assets/client/images/image_9.jpg);"></a>
                                <div class="text text-2 pl-md-4">
                                    <h3 class="mb-2"><a href="single.html">Nghệ An, nơi sinh ra vị lãnh tụ tài ba</a></h3>
                                    <div class="meta-wrap">
                                        <p class="meta">
                                            <span><i class="icon-calendar mr-2"></i>Tháng 6 28, 2019</span>
                                            <span><a href="single.html"><i class="icon-folder-o mr-2"></i>Du lịch</a></span>
                                            <span><i class="icon-comment2 mr-2"></i>5 Bình luận</span>
                                        </p>
                                    </div>
                                    <p class="mb-4">Tham gia khám phá những địa điểm du lịch, hành trình khám phá thiên nhiên phong phú trên mọi miền đất nước và cảm nhận sâu sắc về đời sống- văn hóa bản địa.</p>
                                    <p><a href="#" class="btn-custom">Đọc thêm <span class="ion-ios-arrow-forward"></span></a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="blog-entry ftco-animate d-md-flex">
                                <a href="single.html" class="img img-2" style="background-image: url(/Assets/client/images/image_10.jpg);"></a>
                                <div class="text text-2 pl-md-4">
                                    <h3 class="mb-2"><a href="single.html">Ninh Bình, thành phố Hoa Lư</a></h3>
                                    <div class="meta-wrap">
                                        <p class="meta">
                                            <span>Tháng 9 14, 2018</span>
                                            <span><a href="single.html">Thời trang</a></span>
                                            <span>5 Bình luận</span>
                                        </p>
                                    </div>
                                    <p class="mb-4">Tham gia khám phá những địa điểm du lịch, hành trình khám phá thiên nhiên phong phú trên mọi miền đất nước và cảm nhận sâu sắc về đời sống- văn hóa bản địa.</p>
                                    <p><a href="#" class="btn-custom">Đọc thêm <span class="ion-ios-arrow-forward"></span></a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="blog-entry ftco-animate d-md-flex">
                                <a href="single.html" class="img img-2" style="background-image: url(/Assets/client/images/image_11.jpg);"></a>
                                <div class="text text-2 pl-md-4">
                                    <h3 class="mb-2"><a href="single.html">Du lịch biển Nha Trang</a></h3>
                                    <div class="meta-wrap">
                                        <p class="meta">
                                            <span><i class="icon-calendar mr-2"></i>Tháng 6 28, 2019</span>
                                            <span><a href="single.html"><i class="icon-folder-o mr-2"></i>Du lịch</a></span>
                                            <span><i class="icon-comment2 mr-2"></i>5 Bình luận</span>
                                        </p>
                                    </div>
                                    <p class="mb-4">Tham gia khám phá những địa điểm du lịch, hành trình khám phá thiên nhiên phong phú trên mọi miền đất nước và cảm nhận sâu sắc về đời sống- văn hóa bản địa.</p>
                                    <p><a href="#" class="btn-custom">Đọc thêm <span class="ion-ios-arrow-forward"></span></a></p>
                                </div>
                            </div>
                        </div>
                    </div><!-- END-->
                    <div class="row">
                        <div class="col">
                            <div class="block-27">
                                <ul>
                                    <li><a href="#">&lt;</a></li>
                                    <li class="active"><span>1</span></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">&gt;</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    @section Listinforight
                    {
                    
                        <div>
                           
                            <div class="col-xl-4 sidebar ftco-animate bg-light pt-5">
                                
                                <div class="set-account">
                                    <div>
                                        <h5>Đăng kí chia sẻ bài viết nhận hoa hồng</h5>
                                        <hr/>
                                    </div>
                                    <div class="marquee">
                                            <button class="register"><marquee width="100%" behavior="alternate">Đăng kí</marquee></button>
                                    </div>
                                    <div>
                                        <button class="account" id="anhien">Đăng nhập</button>
                                    </div>
                                </div>
                                <div class="sidebar-box pt-md-4">
                                    <form action="#" class="search-form">
                                        <div class="form-group">
                                            <span class="icon icon-search"></span>
                                            <input type="text" class="form-control" placeholder="Bạn muốn tìm...?">
                                        </div>
                                    </form>
                                </div>
                                <div class="sidebar-box ftco-animate">
                                    <h3 class="sidebar-heading">Thể loại</h3>
                                    <ul class="categories">
                                        <li><a href="#">Thời trang <span>(6)</span></a></li>
                                        <li><a href="#">Thiên nhiên <span>(8)</span></a></li>
                                        <li><a href="#">Du lịch <span>(2)</span></a></li>
                                        <li><a href="#">Món ăn <span>(2)</span></a></li>
                                        <li><a href="#">Chụp ảnh <span>(7)</span></a></li>
                                    </ul>
                                </div>
                                <div class="sidebar-box ftco-animate">
                                    <h3 class="sidebar-heading">Bài viết nỗi bật</h3>
                                    <div class="block-21 mb-4 d-flex">
                                        <a class="blog-img mr-4" style="background-image: url(/Assets/client/images/image_1.jpg);"></a>
                                        <div class="text">
                                            <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control</a></h3>
                                            <div class="meta">
                                                <div><a href="#"><span class="icon-calendar"></span> June 28, 2019</a></div>
                                                <div><a href="#"><span class="icon-person"></span> Dave Lewis</a></div>
                                                <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="block-21 mb-4 d-flex">
                                        <a class="blog-img mr-4" style="background-image: url(/Assets/client/images/image_2.jpg);"></a>
                                        <div class="text">
                                            <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control</a></h3>
                                            <div class="meta">
                                                <div><a href="#"><span class="icon-calendar"></span> June 28, 2019</a></div>
                                                <div><a href="#"><span class="icon-person"></span> Dave Lewis</a></div>
                                                <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="block-21 mb-4 d-flex">
                                        <a class="blog-img mr-4" style="background-image: url(/Assets/client/images/image_3.jpg);"></a>
                                        <div class="text">
                                            <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control</a></h3>
                                            <div class="meta">
                                                <div><a href="#"><span class="icon-calendar"></span> June 28, 2019</a></div>
                                                <div><a href="#"><span class="icon-person"></span> Dave Lewis</a></div>
                                                <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="sidebar-box ftco-animate">
                                    <h3 class="sidebar-heading">Lưu trữ</h3>
                                    <ul class="categories">
                                        <li><a href="#">Xuân yêu thương <span>(10)</span></a></li>
                                        <ul>
                                            <li>Tháng 1</li>
                                            <li>Tháng 2</li>
                                            <li>Tháng 3</li>
                                        </ul>
                                        <li><a href="#">Hạ nhớ <span>(6)</span></a></li>
                                        <ul>
                                            <li>Tháng 4</li>
                                            <li>Tháng 5</li>
                                            <li>Tháng 6</li>
                                        </ul>
                                        <li><a href="#">Thu êm đềm <span>(8)</span></a></li>
                                        <ul>
                                            <li>Tháng 7</li>
                                            <li>Tháng 8</li>
                                            <li>Tháng 9</li>
                                        </ul>
                                        <li><a href="#">Đông ấm áp <span>(2)</span></a></li>
                                        <ul>
                                            <li>Tháng 10</li>
                                            <li>Tháng 11</li>
                                            <li>Tháng 12</li>
                                        </ul>

                                    </ul>
                                </div>
                                <div class="sidebar-box subs-wrap img py-4" style="background-image: url(/Assets/client/images/bg_1.jpg);">
                                    <div class="overlay"></div>
                                    <h3 class="mb-4 sidebar-heading">Bản tin</h3>
                                    <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia</p>
                                    <form action="#" class="subscribe-form">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Email Address">
                                            <input type="submit" value="Subscribe" class="mt-2 btn btn-white submit">
                                        </div>
                                    </form>
                                </div>

                                <div class="sidebar-box ftco-animate">
                                    <h3 class="sidebar-heading"></h3>
                                    <p>Tham gia khám phá những địa điểm du lịch, hành trình khám phá thiên nhiên phong phú trên mọi miền đất nước và cảm nhận sâu sắc về đời sống- văn hóa bản địa.</p>
                                </div>
                                <script src="https://lichngaytot.com/Content/Js/Libs/jquery-3.4.1.min.js"></script>
                                <script src="https://lichngaytot.com/Content/Js/Libs/jquery-ui.min.js"></script>
                                <script src="https://lichngaytot.com/Content/Js/Widget/widgetlichthang.js"></script>

                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
</div>


