@model DuLichBui.Models.DangNhapThanhVienModel
<!DOCTYPE html>
<html lang="vi">
<head>
    <title>Andrea - Free Bootstrap 4 Template by Colorlib</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/Assets/Login/assetsLoginIndex/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/Assets/Login/assetsLoginIndex/css/animate.css">

    <link rel="stylesheet" href="/Assets/Login/assetsLoginIndex/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/Assets/Login/assetsLoginIndex/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/Assets/Login/assetsLoginIndex/css/magnific-popup.css">
    <link rel="stylesheet" href="/Assets/Login/assetsLoginIndex/css/aos.css">
    <link rel="stylesheet" href="/Assets/Login/assetsLoginIndex/css/ionicons.min.css">
    <link rel="stylesheet" href="/Assets/Login/assetsLoginIndex/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/Assets/Login/assetsLoginIndex/css/jquery.timepicker.css">

    <link rel="stylesheet" href="/Assets/Login/assetsLoginIndex/css/flaticon.css">
    <link rel="stylesheet" href="/Assets/Login/assetsLoginIndex/css/icomoon.css">
    <link rel="stylesheet" href="/Assets/Login/assetsLoginIndex/css/style.css">
</head>
<body style="background-image:url('/Assets/Login/assetsLoginIndex/img/hero-bg.jpg')">
    <div id="colorlib-page">
        <a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
        <aside id="colorlib-aside" role="complementary" class="js-fullheight">
            <nav id="colorlib-main-menu" role="navigation">
                <ul>
                    <li class="colorlib-active"><a href="/trang-chu">Trang chủ</a></li>
                    <li><a href="/du-lich">Du lịch</a></li>
                    <li><a href="/am-thuc">Ẩm Thực</a></li>
                    <li><a href="/gioi-thieu">Giới thiệu</a></li>
                    <li><a href="/lien-he">Liên hệ</a></li>
                </ul>
            </nav>
            <div class="colorlib-footer">
                <h1 id="colorlib-logo" class="mb-4"><a href="/trang-chu" style="background-image: url(/Assets/client/images/bg_1.jpg);">Du Lich <span id="bui">BUj</span></a></h1>
                <p class="pfooter">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved <a href="/trang-chu" id="logo-bui" target="_blank">DuLichBui.vn</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>

            </div>
        </aside> <!-- END COLORLIB-ASIDE -->
    </div><!-- END COLORLIB-PAGE -->
    <div class="textlogin">
        <h1>Du Lịch Trong Tầm Tay</h1>
        <h3>Tuổi trẻ - Đừng từ chối bất cứ cơ hội được khám phá  </h3>
    </div>
    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>


    <div class="set-account">
        @*<div class="marquee">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#dialog1">
                <marquee width="100%" behavior="alternate">Đăng kí</marquee>
            </button>

        </div>*@
        <div>
            <button type="button" class="btn btn-primary-login" data-toggle="modal" data-target="#exampleModal">
                Đăng nhập
            </button>

        </div>
    </div>
   
            <div class="modal-content">
                <div class="modal-body">
                    <div class="column">
                        <h3>Đăng kí tài khoản </h3>
                        <form>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Email</label>
                                <input type="password" class="input-user" id="exampleInputPassword1" placeholder="Email.....">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Số điện thoại</label>
                                <input type="password" class="input-user" id="exampleInputPassword1" placeholder="Số điện thoại.....">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputName">Tài khoản</label>
                                <input type="name" class="input-user" id="exampleInputName" placeholder="Tài Khoản.....">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Mật khẩu</label>
                                <input type="password" class="input-user" id="exampleInputPassword1" placeholder="Mật khẩu.....">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Nhập lại mật khẩu</label>
                                <input type="password" class="input-user" id="exampleInputPassword1" placeholder="Nhập lại mật khẩu.....">
                            </div>

                            <input type="submit" class="btn btn-primary-user" value="Đăng kí" />
                        </form>
                    </div>
                </div>
            </div>


    <!-- Form Đăng Nhập -->

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="column" id="main">
                        <h1>Đăng nhập </h1>

                        @using (Html.BeginForm("DangNhap", "Home", FormMethod.Post))
                        {
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @*<label for="exampleInputName">Tài khoản</label>
                                    <input type="name" class="input-user" id="exampleInputName" placeholder="Tài Khoản.....">*@
                                @Html.TextBoxFor(model => model.Taikhoan, new { @class = "input-user", @autofocus = "autofocus", @id = "exampleInputName" })
                            </div>
                            <div class="form-group">
                                @*<label for="exampleInputPassword1">Mật khẩu</label>
                                    <input type="password" class="input-user" id="exampleInputPassword1" placeholder="Mật khẩu.....">*@
                                @Html.PasswordFor(model => model.Matkhau, new { @class = "input-user", @autofocus = "autofocus", @id = "exampleInputPassword1" })
                            </div>
                            @*<input type="checkbox"> Nhớ mật khẩu*@
                            <div class="checkbox">
                                <label>
                                    @Html.CheckBoxFor(model => model.Nhomatkhau)Nhớ mật khẩu
                                </label>
                            </div>
                                            <button type="submit" class="btn btn-lg btn-success btn-block">Login</button>
                                                <input type="submit" class="btn btn-primary-user" value="Đăng nhập với Facebook" />
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Form Đăng Ký -->
    <div class="modal fade" id="dialog1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="column" id="main">
                        <h1>Đăng kí tài khoản </h1>
                        <form>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Email</label>
                                <input type="password" class="input-user" id="exampleInputPassword1" placeholder="Email.....">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Số điện thoại</label>
                                <input type="password" class="input-user" id="exampleInputPassword1" placeholder="Số điện thoại.....">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputName">Tài khoản</label>
                                <input type="name" class="input-user" id="exampleInputName" placeholder="Tài Khoản.....">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Mật khẩu</label>
                                <input type="password" class="input-user" id="exampleInputPassword1" placeholder="Mật khẩu.....">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Nhập lại mật khẩu</label>
                                <input type="password" class="input-user" id="exampleInputPassword1" placeholder="Nhập lại mật khẩu.....">
                            </div>

                            <input type="submit" class="btn btn-primary-user" value="Đăng kí" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/Assets/Client/js/jquery.min.js"></script>
    <script src="/Assets/Client/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="/Assets/Client/js/popper.min.js"></script>
    <script src="/Assets/Client/js/bootstrap.min.js"></script>
    <script src="/Assets/Client/js/jquery.easing.1.3.js"></script>
    <script src="/Assets/Client/js/jquery.waypoints.min.js"></script>
    <script src="/Assets/Client/js/jquery.stellar.min.js"></script>
    <script src="/Assets/Client/js/owl.carousel.min.js"></script>
    <script src="/Assets/Client/js/jquery.magnific-popup.min.js"></script>
    <script src="/Assets/Client/js/aos.js"></script>
    <script src="/Assets/Client/js/jquery.animateNumber.min.js"></script>
    <script src="/Assets/Client/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="/Assets/Client/js/google-map.js"></script>
    <script src="/Assets/Client/js/main.js"></script>

</body>
</html>